.custom-button {
    -fx-background-color: TRANSPARENT; /* do set this to tranparent when you ge the arrow sorted*/
    -fx-background-image: url("assets/arrow.png");
    -fx-background-size: 100% 100%;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.diagonal-down-left {
    -fx-rotate: 134;
}

.diagonal-down-right {
    -fx-rotate: 45;
}

.diagonal-up-left {
    -fx-rotate: -135;
}

.diagonal-up-right {
    -fx-rotate: -45;
}

.horizontal-left {
    -fx-rotate: 180;
}

.root {
    -fx-font-family: "Lucida Console";
}

.increment-button {
    -fx-background-image: url("assets/arrow_increment.png");
    -fx-display: inline-block;
    -fx-transition-duration: 1s;
    -fx-background-size: 100% 100%;
    -fx-border-color: black;
}

.decrement-button {
    -fx-background-image: url("assets/arrow_decrement.png");
    -fx-display: inline-block;
    -fx-transition-duration: 1s;
    -fx-background-size: 100% 100%;
    -fx-border-color: black;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: yellow;
}

.button.Start {
    -fx-background-color: transparent;
    -fx-background-image: url('assets/start.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;

    -fx-font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.check-atoms-button {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-min-width: 90px;
    -fx-min-height: 50px;
}